 /* body {
      font-family: Arial;
      text-align: center;
      background-color: #f5f5f5;
    }

    h1 {
      margin: 20px;
    }

    table {
      border-collapse: collapse;
      margin: auto;
      width: 95%;
      background: white;
    }

    th, td {
      border: 2px solid black;
      padding: 12px;
      text-align: center;
    }

    th {
      background-color: #333;
      color: white;
    }

    .lunch {
      writing-mode: vertical-rl;
      font-weight: bold;
      background-color: #ddd;
    } */