
 

 .board {
  display: grid;
  grid-template-columns: repeat(8, 60px);
}

.board div {
  width: 60px;
  height: 60px;
}

/* BLACK boxes */
.board div:nth-child(16n+1),
.board div:nth-child(16n+3),
.board div:nth-child(16n+5),
.board div:nth-child(16n+7),
.board div:nth-child(16n+10),
.board div:nth-child(16n+12),
.board div:nth-child(16n+14),
.board div:nth-child(16n+16) {
  background-color: black;
}

/* WHITE boxes */
.board div {
  background-color: white;
}
