/* body {
    width: 50%;
    border: 2px solid red;
} */

img{
    width:20%;
    display:block;
    margin: auto;
    transition: transform 1.0s;
    
} 

img:hover {
    transform: scale(1.2);
    border: 2px solid black;
}

h2 {
    text-align: center;
    transition: color 0.5s;
}

h2:hover {
    color: red;
    transform: scale(1.2);
}